*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
/*  background: darkslategray;*/
}
header{
  margin-top: 1rem;
}
.card{
  height: 15vh;
  width: 90%;
  background-color: mintcream;
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 1.3rem;
  margin-top: 1rem;
}
.topic{
  background: mintcream;
  margin-top: 3px;
  margin-left: 2px;
  margin-bottom: 3px;
}
img{
  width: 6rem;
  height: 6rem;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
}